<!-- Background image -->
<div class="background-image">
    <style>
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("assets/RF_ORIOND.jpg");
        background-size: cover;
        background-position: center;
        opacity: 1.5; /* Adjust the opacity as needed */
      }
    </style>
    </div>

    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 style="color:white;">Donation</h1>
      <p style="color: white;">Do you want to help us keep the server running? Make a donation!</p>
      <p style="color: white;">Choose the amount you want to donate and Contact the Staff!</p>
      <b><p style="color: white; text-align: center; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">RF ORION</p></b>
      </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="color:white; align-self: center;">CASH POINT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 10,00</h5>
                        <p class="card-text">10 K CASH</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 40,00</h5>
                        <p class="card-text">60 K CASH</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 80,00</h5>
                        <p class="card-text">120 K CASH</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 130,00</h5>
                        <p class="card-text">240 K CASH</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 230,00</h5>
                        <p class="card-text">460 K CASH</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 390,00</h5>
                        <p class="card-text">850 K CASH</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 500,00</h5>
                        <p class="card-text">1.400 KK CASH</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="color:white; align-self: center;">GOLD POINT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 25,00</h5>
                        <p class="card-text">50 K GOLD</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 50,00</h5>
                        <p class="card-text">100 K GOLD</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 90,00</h5>
                        <p class="card-text">250 K GOLD</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 130,00</h5>
                        <p class="card-text">500 K GOLD</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 170,00</h5>
                        <p class="card-text">800 K GOLD</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 280,00</h5>
                        <p class="card-text">1.300 KK GOLD</p>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="color:white; align-self: center;">PREMIUM SERVICE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 10,00</h5>
                        <p class="card-text">15 DIAS</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">R$ 20,00</h5>
                        <p class="card-text">30 DIAS</p>  
                    </div>
                </div>
            </div>
        </div>
    </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 style="color:white; align-self: center;">ADMIN SERVICES</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Change Base Class</h5>
                                <p class="card-text">R$ 25,00</p>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Change Base and Items Same Race</h5>
                                <p class="card-text">R$ 70,00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Race Transfer</h5>
                                <p class="card-text">R$ 100,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 style="color:white; align-self: center;">Payment Methods</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="card3">
                        <img src="assets/PIX.png" alt="PIX Logo">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white; font-size: 20px;">Payment PIX Brazil Only</h5>
                            <p class="card-text" style="color: white;">(27) 996099664 </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="card3">
                        <img src="assets/PayPal.png" alt="PayPal Logo">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white; font-size: 20px;">Payment PayPal </h5>
                            <p class="card-text" style="color: white;">yaagroschzero gmail.com </p>
                        </div>
                        </div>
                    </div>
                </div>
            
