<!-- Background image -->
<div class="background-image">
    <style>
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("assets/RF_ORIONI.jpg");
        background-size: cover;
        background-position: center;
        opacity: 1.5; /* Adjust the opacity as needed */
      }
    </style>
    </div>

<div class="container2">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">INFORMATION</h3>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CAP 55</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Level Max 55</h2>

    <ul>
        <b><li>Experience rate 40x</li></b>
        <b><li>Animus rate x100</li></b>
        <b><li>Drop rate x40/50x</li></b>
        <b><li>PT/SKILL/FORCE GM</li></b>
        <b><li>Max Upgrade +6</li></b>
        <b><Li>Max Armors Level 55 </Li></b>
        <b><Li>Cross Class ON</Li></b>
        <b><li>NPC PIG SETTE Set 55 Weapon 55 Weapon wind</li></b>
        <b><li>Quest 50 ON</li></b>
        <b><Li>Runes ON</Li></b>
        <b><Li>Balanced Damage</Li></b>
        <b><li>Cash per minute Online</li></b>
        <b><li>Guild Pack ON</li></b>
        <b><li>NPC Lowbie ON</li></b>

    </ul>
</div>
</div>
</div>


  
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
              <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">HQ / COLONY</h1>
              <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>
  
      <ul>
          <b><li>Wing Teleport Ether/ HQ</li></b>
          <b><li>PB HQ / COLONY Elemental , normal drop </li></b>
          <b><li>Chip  Gold 1K / 3K, Potato Potion , Cash  25k x 5 </li></b>
          <b><li>HSK  Gold 1K / 3K, Cash 25K x 5 </li></b>  
      </ul>
  </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">ELAN</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>ScudLava : Excelsior for Towers</li></b>
        <b><li>Draco : Atck Potion 40%</li></b>
    </ul>
    <h1 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> ELAN PBs</h1>
    <ul>
        <b><li>ROCKJAW Gold 3K  HDH  Orange Lv 50  Elem 25</li></b>
        <b><li>TARAVEN Gold 3K  HDH  Orange Lv 50  Elem 25</li></b>
        <b><li>BLINKs Gold 3K  HDH  Orange Lv 50  Elem 25</li></b>
        <b><li>CALIANA Gold 3K  HDH  Orange Lv 50  Elem 25</li></b>
        <b><li>SOULCINDER Gold 3K  HDH  Orange Lv 50  Elem 25</li></b>
        <b><li>3 BBs Gold  5K / 10K  HDH  Orange Lv 50  Elem 25</li></b>
    </ul>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CRAG MINE</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>EARTH QUAKER : T5</li></b>  
    </ul>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">ETHER</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>PIG Gold  5K / 10K</li></b>
        <b><li>Caliana Princess Perf Elem</li></b>
        <b><li>Caliana Clear Gli</li></b>
        
    </ul>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">SETTE</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>Armored Ghost Gold Pill  Elemental 20</li></b>
        <b><li>Strayer T3 normal loot</li></b>
        <b><li>PIG Gold  5K / 10K</li></b>
        
    </ul>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CALDERON</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>BELPHEGOR Gold Pill 5K Elem 25</li></b>
        <b><li>Elven MAU Bless and Char Bless</li></b>
        <b><li>Giant Baba Beam Armor and Weapon lv 45</li></b>
        <b><li>Ash Burn Gli</li></b>
        <b><li>Volit Gli Beam</li></b>
        
    </ul>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Beast Mountain</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>Draco Normal Loot Elem T1 T2 T3</li></b>  
    </ul>
            <h3 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">OutCast Land</h3>
            <h4 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h4>
    <ul>
        <b><li>Elven MAU Bless and Char Bless</li></b>
        <b><li>RingLeader Perf Elemental Normal Drops</li></b>
    </ul>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 style="color: white;text-align: center; font-size: 40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Portal HDH</h1>
            <h2 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Drop List</h2>

    <ul>
        <b><li>Set Daidalos lv 50</li></b>
        <b><li>Elem 30%</li></b>        
    </ul>
    
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 style="color: white;text-align: left; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Special Drop</h1>
    <ul>
        <b><li>THOR Set Dragon</li></b>
    </ul>


  
